@import "base/normalize";

.main-wrap {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.section-main {
    position: relative;
    transform-origin: left center;
    filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.5));
    &-wrap {
        background-color: #08071c;
        clip-path: polygon(-121% 0,100% 0%,100% 75%,30% 100%);
    }
    &_inner {
        position: relative;
        z-index: 2;
        overflow: hidden;
       
    }
    &-title {
        font-weight: 700;
        font-size: 60px;
    }
    &-divider-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 165px;
        margin-bottom: 200px;
    }
    &-divider {
        width: 50%;
        display: inline-block;
        position: relative;
        &_left {
            z-index: 3;
        }
    }
    &-subtitle {
        font-size: 30px;
        font-weight: 300;
        color: #9c99aa;
        margin-top: 40px;
    }
    &-ball {
        float: right;
        position: relative;
        z-index: 1;
        margin-top: -50px;
    }
    &-link {
        font-weight: 700;
        font-size: 14px;
        position: relative;
        padding-right: 50px;
        margin-top: 70px;
        display: inline-block;
    }
}

.particles-js-canvas-el {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.header {
    position: relative;
    z-index: 2;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
    }
    &-logo {
        width: 60px;
    }
    &-menu {
        display: flex;
        justify-content: space-between;
        &_item {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
        &_link {
            padding-right: 10px;
            font-weight: 700;
            position: relative;
            display: inline-block;
            &:hover {
                &::after,
                &::before {
                  width: 100%;
                  left: 0;
                }
              }
              
            &::after,
            &::before {
                content: ''; 
                position: absolute;
                top: calc(100% + 5px);
                width: 0;
                right: 0;
                height: 2px;
            }
              
            &::before {
                transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
                background: #fff;
            }
            &::after {
                transition: width .4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
                background: #fff;
            }
        }
    }
    &-user {
        width: 60px;
        height: 55px;
        background-image: url('../images/user.png');
        background-repeat: no-repeat;
        background-size: 60px 55px;
        // cursor: pointer;
    }
}

// Footer 
.footer{
    display: flex;
    flex-direction: column;
    &-inner{
        display: flex;
        background-color: #fff;
        padding: 56px 76px;
        width: 1000px;
        margin: 45px auto;
    }
    &-feedback{
        display: inline-flex;
        width: 45%;
        flex-direction: column;
    }
    &-feedback_title{
        color: #08071c;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 0.02em;
    }
    &-feedback_info{
        margin: 18px 0 15px;
        color: #4c4a55;
        font-size: 1.1em;
        &_item{
            margin: 20px 0;
        }
    }
    &-feedback_socials{
        display: flex;
        justify-content: flex-start;
        &_item{
            margin-left: 19px;
            &:first-of-type{
                margin-left: 13px;
            }
        }
        &_link{
            font-size: 18px;
            color: #000;
        }
    }
    &-feedback_icons{
        border-radius: 100%;
        border: 2px solid #563ee6;
        color: #563ee6;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        font-size: 20px;
        margin-right: 15px;
    }
    &-copyright{
        background-color: #dfdfdf;
        line-height: 65px;
        text-align: center;
        color: #08071c;
    }
    &-form{
        width: 55%;
        display: inline-flex;
        flex-direction: column;
        &_input{
                margin: 10px 25px;
                width: 100%;
                display: block;
                border: none;
                padding: 20px 0;
                border-bottom: solid 2px #000;
                transition: all 0.3s cubic-bezier(.64,.09,.08,1);
                background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #000 4%);
                background-position: -500px 0;
                background-size: 500px 100%;
                background-repeat: no-repeat;
                resize: none;
                color: darken(#000, 20%);
                &:focus, &:valid {
                    box-shadow: none;
                    outline: none;
                    background-position: 0 0;
                        &::-webkit-input-placeholder {
                            color: #000;
                            font-size: 11px;
                            transform: translateY(-20px);
                            visibility: visible !important;
                            transition: all 0.3s ease-in-out;
                }
            }
        }
    }
    #map{
        height: 500px;
        position: absolute !important;
        width: 100%;
        z-index: -1;
    }
}

// style for main-title animation
// colors
$white: #fff;

// typography
$text-padding: .4rem;
$tween: 95px;

// animations
$animation-unit: 300ms;
$slideOut: $animation-unit * 2.5;
$slideStudios: $animation-unit * 4;

.restart {
	color: $white;
	transition: opacity $animation-unit/2 linear;
}

.amira, 
.capital {
	position: relative;
	display: inline-block;
}

.capital {
	transform: translateX(-$tween);
}

.amira {
	transform: translateX($tween);
}



// Cue all the animations when run-animation class is activated
.run-animation {
	animation: ease-out ($animation-unit * 12) forwards ($animation-unit * 2);
	.amira {
        transform: translateX($tween);
        animation: slide-out-X $slideOut ease forwards;
    }
	.capital {
		transform: translateX(-$tween);
		color: transparent;
		animation: slide-out-X $slideOut ease forwards, show-text $animation-unit linear forwards ($slideOut * 1.5);
		&:before {
			animation: slide-out-Y $animation-unit ease forwards $slideOut;
		}
		&:after {
			animation: slide-out-Y $animation-unit ease forwards $slideOut;
		}
	}
	.restart {
		opacity: 0;
		animation: fade-down ($animation-unit * 4) ease ($animation-unit * 6) forwards;
	}
}


@keyframes slide-out-X {
	100% {
		transform: translateX(0);
	}
}

@keyframes slide-out-Y {
	100% {
		transform: translateY(0);
	}
}

@keyframes show-text {
	100% {
		color: $white;
	}
}

@keyframes shrink {
	100% {
		transform: scale(0.8);
	}
}

@keyframes tighten-vinette {
	100% {
		background-size: 120%;
	}
}

@keyframes fade-down {
	0% {
		transform: translateY(-2rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: .5;
	}
}

@keyframes fade-out {
	100% {
		opacity: 0;
	}
}

// style for button